.footer {
    background-color: #0055A3;
    bottom:0;
    border: 1px solid black;
    padding: 5px;
    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.div {
    ali:center
    color: white;
}
